@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --container-background-color: #fff;
  --shadow-color: #ccc;
  --disable-color: #aaa;
  --color: #000;
  --input-color: #0089ea;
  --login-backgroud-color: #fff;
  --login-header-foreground-color: #0089ea;
  --blocker-color: #aaa;
  --background-color: #efefef;
  --primary-color: #0079cf;
  --primary-color2: #0384df;
  --primary-color-accent: #fff;
  --primary-color-menu-hover: #0275c7;
  --primary-color-selected: #262f38;
  --primary-color-hover: #0275c7;
  --primary-color-hover-accent: #fff;
  --primary-color-menu-inactive: #ddd;
  --primary-color-disable: #ccc;
  --primary-table-alternating: #f2f7fa;
  --referral-background-color: #44484b;
  --secondary-color: #c3b9b9;
  --secondary-color-accent: #684042;
  --table-hover-color: #b9e2ff;
  --table-hover-color-accent: #000;
  --loading-color-4: black;
  --loading-color-1: rgb(119, 9, 9);
  --loading-color-2: rgb(6, 74, 6);
  --loading-color-3: rgb(12, 12, 146);
  --label-size: 0.6rem;
  --normal-font-size: 0.8rem;
  --wallet-amount-font-size: 1.5rem;
  --banner-font-size: 1rem;
  --menu-header-font-size: 0.9rem;
  --menu-font-size: 0.8rem;
  --header-font-size: 1.2rem;
  --table-header-font-size: 0.9rem;
  --login-header-font-size: 1.6rem;
  --loading-font-size: 1.5rem;
  --normal: 300;
  --light: 400;
  --regular: 500;
  --demibold: 700;
  --bold: 900;
  --toaster-background-color: #008df1;
  --toaster-background-color-accent: #fff;
  --bacground-gradient: linear-gradient(
    120deg,
    var(--primary-color),
    var(--primary-color2)
  );
}

.dark-mode {
  --container-background-color: #1b1b1b;
  --color: #eee;
  --color-hover: #fff;
  --input-color: #eee;
  --login-backgroud-color: #1b1b1b;
  --login-header-foreground-color: #eee;
  --shadow-color: #333;
  --disable-color: #aaa;
  --blocker-color: #444;
  --background-color: #111;
  --primary-color: #011d31;
  --primary-color2: #012e4e;
  --primary-color-accent: #ddd;
  --primary-color-menu-hover: #17222b;
  --primary-color-selected: #262f38;
  --primary-color-hover: #093859;
  --primary-color-hover-accent: #eee;
  --primary-color-menu-inactive: #ddd;
  --primary-color-disable: #ccc;
  --primary-table-alternating: #1c1c1c;
  --referral-background-color: #44484b;
  --secondary-color: #4f4646;
  --secondary-color-accent: #af9c9d;
  --table-hover-color: #182229;
  --table-hover-color-accent: #eee;
  --toaster-background-color: #002a46;
  --toaster-background-color-accent: #fff;
  --bacground-gradient: linear-gradient(
    120deg,
    var(--primary-color),
    var(--primary-color2)
  );
}

/* width */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.3em;
  background: var(--container-background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border: 0.1em solid var(--container-background-color);
  border-radius: 0.3em;
  cursor: pointer;
}

body {
  margin: 0 !important;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--background-color);
  color: var(--color);
  overflow-x: hidden;
  font-weight: var(--normal);
  font-size: var(--normal-font-size);
}

header {
  background-image: var(--bacground-gradient);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0em 0.5em;
  z-index: 5;
  -webkit-box-shadow: 0em 0.1em 0.1em 0em var(--shadow-color);
          box-shadow: 0em 0.1em 0.1em 0em var(--shadow-color);
  margin-bottom: 1em;
}

header .nav-icon {
  color: var(--primary-color-accent);
  text-decoration: none !important;
  font-size: var(--normal-font-size);
  background-color: unset !important;
  cursor: pointer;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.7em 0;
}

header nav .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu-container span {
  font-size: var(--label-size);
  float: right;
}

header nav .mobile-profile {
  display: none;
}

header nav .desktop-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .desktop-profile .nav-icon {
  margin-left: 1em;
}

header nav .icon {
  font-size: var(--menu-font-size);
  font-weight: var(--demibold);
  line-height: 1em;
  margin-left: 0.5em;
  cursor: pointer;
  width: 5em;
  color: var(--primary-color-accent);
}

header nav .logo {
  height: 3em;
  cursor: pointer;
}

header nav .name-subtitle {
  color: var(--primary-color-accent);
  font-style: italic;
}

header nav .nav-menu {
  font-weight: var(--regular);
  font-size: var(--menu-font-size);
  line-height: 1.2em;
  color: var(--primary-color-accent);
  cursor: pointer;
}

header nav .nav-menu:hover:not(.active) {
  color: var(--primary-color-accent);
}

header nav .menu-show {
  opacity: 1 !important;
  z-index: 99 !important;
  width: 100% !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

header nav .menus {
  -webkit-transition: width ease-in-out 0.3s;
  transition: width ease-in-out 0.3s;
  height: 100vh;
  top: 0;
  cursor: pointer;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 0em;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

header nav .menus .menu-item-container {
  background-color: var(--primary-color);
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  -webkit-box-shadow: 0em 0em 0.4em var(--shadow-color);
          box-shadow: 0em 0em 0.4em var(--shadow-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .menus .menu-item-container .menu-item-header {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .menus .menu-item-container .menus-container {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

header nav .menus .menu-item-container .menus-container .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

header nav .menus .menu-item-container .menus-container .menu-items .head {
  padding: 0.5em 1em;
  text-align: left;
  font-size: var(--menu-header-font-size);
  font-weight: var(--demibold);
  color: var(--primary-color-accent);
}

header nav .menus .menu-item-container .menus-container .menu-items .navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .menus .menu-item-container .menus-container .menu-items .navs a {
  text-align: left;
  font-size: var(--menu-font-size);
  padding: 0.5em 1.5em;
  cursor: pointer;
  -webkit-transition: background-color ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
}

header nav .menus .menu-item-container .menus-container .menu-items .navs a:hover {
  background-color: var(--primary-color-hover);
}

header nav .menus .menu-item-container .menus-container .menu-items .navs a:hover .menu-icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header nav .menus .menu-item-container .menus-container .menu-items .navs a .menu-icon {
  float: right;
}

header nav .menus .menu-content-blocker {
  width: 75%;
  background-color: var(--primary-color);
  height: 100vh;
  overflow: hidden;
  opacity: 0.3;
}

header nav a,
header nav label {
  font-size: var(--label-size);
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

header nav button {
  font-size: var(--normal-font-size);
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  cursor: pointer;
  border: none;
  outline: none;
}

header nav .active {
  pointer-events: none;
  color: var(--primary-color-accent);
  background-color: var(--primary-color-hover);
}

section {
  width: 100%;
  margin: 0 auto;
}

textarea,
input {
  border: none;
  border: 0.01em solid var(--input-color);
  border-radius: 0.3em;
  background-color: unset;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  resize: none;
  border: 0.01em solid var(--input-color);
  border-radius: 0.3em;
}

select,
textarea,
input {
  border: 0.01em solid var(--input-color);
  border-radius: 0.3em;
  font-size: var(--normal-font-size) !important;
}

.login-container {
  position: relative;
  background: var(--backgroud-color);
  margin: 3em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40em;
  padding-bottom: 0.2em;
  border-radius: 0.5em;
  text-align: center;
}

.login-container .login-header {
  border-bottom: 0.2em solid var(--shadow-color);
  width: 100%;
  padding: 2em;
}

.login-container .login-header .login-title {
  font-size: var(--login-header-font-size);
  color: var(--login-header-foreground-color);
}

.login-container .custom-input {
  margin-bottom: 1em;
}

.login-container .forgot-password {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: underline;
  cursor: pointer;
  color: var(--color);
  margin: 0.3em 0.2em 0.2em 0.2em;
}

.login-container .login-content {
  width: 70%;
  margin: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  border-radius: 0.3em;
  margin-top: 0.5em;
  padding: 0.7em 2em;
  cursor: pointer;
  color: var(--primary-color-accent);
  font-weight: var(--demibold);
  font-size: vare(--normal-font-size);
  border: none;
  background: var(--primary-color);
}

.btn:hover {
  -webkit-box-shadow: 0em 0em 0.5em 0em var(--shadow-color);
          box-shadow: 0em 0em 0.5em 0em var(--shadow-color);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--shadow-color) !important;
  cursor: not-allowed !important;
}

.center {
  text-align: center;
}

.custom-input {
  width: 100%;
  padding: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.custom-input label {
  font-size: var(--label-size);
  font-weight: var(--regular);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.6;
  margin-bottom: 0.3em;
}

.custom-input select {
  width: 100%;
  border: none;
  border: 0.01em solid var(--input-color);
  padding: 0.5em;
  text-overflow: ellipsis;
  background-color: unset;
  cursor: pointer;
}

.custom-input select:focus {
  outline: none;
}

.custom-input textarea {
  width: 100%;
  padding: 0.5em;
  color: var(--input-color);
}

.custom-input .input-container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.custom-input .input-container .eye-container {
  position: absolute;
  right: 0.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.custom-input .input-container .eye-container .eye-icon {
  cursor: pointer;
  color: var(--input-color);
}

.custom-input .input-container .hidden {
  display: none;
}

.custom-input .input-container input {
  width: 100%;
  padding: 0.5em;
  color: var(--color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-input .input-container input::-ms-clear, .custom-input .input-container input::-ms-reveal {
  display: none;
}

.custom-input .checkbox-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.01em solid var(--input-color);
  border-radius: 0.3em;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-input .checkbox-button .check-true {
  border-radius: 0.3em 0em 0em 0.3em;
}

.custom-input .checkbox-button .check-false {
  border-radius: 0em 0.3em 0.3em 0em;
}

.custom-input .checkbox-button .btn-check {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  cursor: pointer;
  border: none;
  font-size: var(--normal-font-size);
  padding: 0.5em;
}

.custom-input .checkbox-button .unchecked {
  -webkit-box-shadow: inset 0em 0em 0.3em var(--shadow-color);
          box-shadow: inset 0em 0em 0.3em var(--shadow-color);
}

.custom-input .checkbox-button .checked {
  background-color: var(--primary-color);
  color: var(--primary-color-accent);
}

.custom-input .datepicker-container {
  position: relative;
  width: 100%;
  height: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.custom-input .datepicker-container .custom-datepicker {
  width: 100%;
}

.custom-input .select-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.custom-input .select-container select {
  color: var(--input-color);
}

.custom-input .select-container option {
  background-color: var(--container-background-color);
}

.custom-input .select-container .current-selection-icon {
  position: absolute;
  margin: 0;
  right: 0.3em;
  bottom: 0.4em;
  font-size: 0.7em;
  cursor: pointer;
}

.custom-input .select-container .current-selection {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--input-color);
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  font-size: 0.7em;
  padding: 0em;
}

.custom-input .select-container .current-selection:focus {
  outline: none;
}

.custom-input .select-container .selection {
  width: 100%;
  z-index: 10;
  position: absolute;
  opacity: 0;
  scrollbar-width: thin;
  border-radius: 0.3em;
  -webkit-box-shadow: 0em 0.2em 0.3em 0em var(--shadow-color);
          box-shadow: 0em 0.2em 0.3em 0em var(--shadow-color);
  left: 0;
  height: 0;
  top: calc(100% + 0.2em);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  cursor: pointer;
}

.custom-input .select-container .selection:hover {
  opacity: 1;
  height: unset;
  max-height: 10em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.custom-input .select-container .selection div {
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  display: block;
  cursor: pointer;
}

.custom-input .select-container .selection div:hover:not(.active) {
  background: var(--primary-color-hover);
}

.custom-input .select-container .selection .active {
  background: var(--primary-color);
  color: var(--primary-color-accent);
}

.custom-input:focus-within .current-selection-icon,
.custom-input:focus-within label {
  font-weight: var(--demibold);
}

.custom-input:focus-within .selection,
.custom-input:focus-within .selection:hover {
  cursor: pointer;
  opacity: 1;
  height: unset;
  max-height: 10em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.loading-screen {
  display: none;
}

.loading-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 99999;
}

.loading-block .loading-blocker {
  z-index: 999999;
  background-color: var(--blocker-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.loading-block .loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading-block .loading div:nth-child(1) {
  -webkit-animation: breathe 1s infinite alternate;
          animation: breathe 1s infinite alternate;
}

.loading-block .loading div:nth-child(2) {
  -webkit-animation: breathe 2s infinite alternate;
          animation: breathe 2s infinite alternate;
}

.loading-block .loading div:nth-child(3) {
  -webkit-animation: breathe 3s infinite alternate;
          animation: breathe 3s infinite alternate;
}

.loading-block .loading div {
  position: absolute;
  z-index: 9999999;
  cursor: progress;
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

.loading-block .loading div:after {
  content: '';
  position: absolute;
  border-left: 1em dotted var(--loading-color-1);
  border-right: 1em dotted var(--loading-color-2);
  top: 2.1em;
  animation: rotate 3s infinite reverse;
  height: 1em;
  width: 3em;
}

.loading-block .loading div:before {
  content: '';
  position: absolute;
  border-top: 1em dotted var(--loading-color-3);
  border-bottom: 1em dotted var(--loading-color-4);
  animation: rotate2 3s infinite reverse;
  left: 2.1em;
  height: 3em;
  width: 1em;
}

@-webkit-keyframes breathe {
  to {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@keyframes breathe {
  to {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  30% {
    border-left: 1em dotted var(--loading-color-2);
    border-right: 1em dotted var(--loading-color-1);
  }
  50% {
    border-left: 1em dotted var(--loading-color-3);
    border-right: 1em dotted var(--loading-color-4);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  30% {
    border-left: 1em dotted var(--loading-color-2);
    border-right: 1em dotted var(--loading-color-1);
  }
  50% {
    border-left: 1em dotted var(--loading-color-3);
    border-right: 1em dotted var(--loading-color-4);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  30% {
    border-top: 1em dotted var(--loading-color-4);
    border-bottom: 1em dotted var(--loading-color-3);
  }
  50% {
    border-top: 1em dotted var(--loading-color-1);
    border-bottom: 1em dotted var(--loading-color-2);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  30% {
    border-top: 1em dotted var(--loading-color-4);
    border-bottom: 1em dotted var(--loading-color-3);
  }
  50% {
    border-top: 1em dotted var(--loading-color-1);
    border-bottom: 1em dotted var(--loading-color-2);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.search-container {
  background: var(--container-background-color);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4em 0.7em;
  margin: 0.8em 0.3em;
  -webkit-box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
          box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
  border-radius: 5em;
}

.search-container input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  color: var(--color);
}

.search-container .search-icon {
  margin: 0.5em;
  cursor: pointer;
  color: var(--color);
}

.pagination {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--normal-font-size);
  margin: 1em;
}

.pagination svg {
  height: 1.2em !important;
  width: 1.2em !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--normal-font-size);
  padding: 0.3em;
  background: var(--primary-color);
  color: var(--color);
  border: none;
  border-radius: 0.2em;
  -webkit-box-shadow: 0em 0em 0.1em 0em var(--primary-color);
          box-shadow: 0em 0em 0.1em 0em var(--primary-color);
  margin: 0 0.2em;
  cursor: pointer;
}

.pagination .disabled {
  color: var(--disable-color);
  background-color: var(--shadow-color);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.pagination .pages-container {
  position: relative;
  z-index: 2;
  margin: 0 0.2em;
  height: 1.8em !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--normal-font-size);
  background: var(--container-background-color);
  border: none;
  border-radius: 0.2em;
  -webkit-box-shadow: 0em 0em 0.1em 0em var(--shadow-color);
          box-shadow: 0em 0em 0.1em 0em var(--shadow-color);
}

.pagination .pages-container .current-page {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.25em;
  width: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-weight: var(--bold);
  color: var(--color);
  font-size: var(--normal-font-size);
}

.pagination .pages-container .current-page:focus + .pages,
.pagination .pages-container .pages:hover {
  opacity: 1;
  height: unset;
  max-height: 10em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.pagination .pages-container .pages {
  cursor: pointer;
  position: absolute;
  width: 3em;
  opacity: 0;
  scrollbar-width: thin;
  border-radius: 0.3em;
  background-color: var(--container-background-color);
  -webkit-box-shadow: 0em 0.1em 0.2em 0em var(--shadow-color);
          box-shadow: 0em 0.1em 0.2em 0em var(--shadow-color);
  left: 0;
  height: 0;
  top: 100%;
  overflow: hidden;
  -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: opacity 300ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: opacity 300ms ease-in-out, transform 150ms ease-in-out;
  transition: opacity 300ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.pagination .pages-container .pages div {
  color: var(--color);
  padding: 0.5em;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: block;
  font-size: 0.8em;
  cursor: pointer;
  font-weight: var(--regular);
}

.pagination .pages-container .pages div:hover {
  font-weight: var(--demibold);
}

.pagination .pages-container .pages .active {
  background-color: var(--primary-color);
  color: var(--color);
}

.message-action button {
  margin: 0.3em;
  border-radius: 0.5em;
  padding: 0.4em;
  width: 5em;
  font-weight: var(--bold);
  border: none;
  background-color: var(--primary-color-accent);
  cursor: pointer;
}

.message-action button:hover {
  -webkit-transform: scaley(1.2);
          transform: scaley(1.2);
}

.message-action .primary {
  color: var(--primary-color);
}

.message-action .secondary {
  color: var(--secondary-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.header .header-text {
  position: relative;
  font-size: var(--header-font-size);
  font-weight: var(--demibold);
  border-bottom: 1px solid var(--primary-color);
}

.header .header-text:before {
  content: '';
  position: absolute;
  width: 80%;
  height: 0;
  border-bottom: 1px solid var(--primary-color);
  bottom: -0.3em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.item-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: calc(100% - 1.1em);
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0.5em;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.item-table .deleted {
  text-decoration: line-through;
  color: var(--shadow-color) !important;
}

.item-table tr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item-table tr td,
.item-table tr th {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item-table thead {
  z-index: 1;
}

.item-table thead tr {
  color: var(--primary-color-accent);
  background-image: var(--bacground-gradient);
}

.item-table thead tr th {
  line-height: 1em;
  text-align: center;
  font-weight: var(--regular);
  height: 2.5em !important;
  padding: 0.4em;
  min-width: 5em;
}

.item-table thead tr th .btn {
  margin: 0 0 0 1em;
  padding: 0;
  background: transparent;
}

.item-table thead tr th .btn:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.item-table .app-badge {
  background: var(--primary-color-hover);
  margin: 0.2em;
  padding: 0.3em;
  text-align: center;
  border-radius: 0.3em;
  font-weight: var(--bold);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  opacity: 0.8;
}

.item-table tbody tr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.item-table tbody tr:nth-child(even) {
  background: var(--primary-table-alternating);
}

.item-table tbody tr:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--table-hover-color);
  color: var(--table-hover-color-accent);
}

.item-table tbody tr td {
  line-height: 1em;
  text-align: center;
  padding: 0.2em 0.4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4em !important;
}

.item-table .table-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-table .table-actions {
  padding: 0.3em 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  position: relative;
}

.item-table .table-actions .table-btn:first-child {
  border-radius: 0.5em 0em 0em 0.5em;
}

.item-table .table-actions .table-btn:last-child {
  border-radius: 0em 0.5em 0.5em 0em;
  border: 0;
}

.item-table .table-actions .table-btn {
  cursor: pointer;
  font-size: var(--normal-font-size);
  color: var(--primary-color-accent);
  background-color: var(--primary-color);
  padding: 0.7em;
  border: 0;
  border-right: 0.1em solid var(--background-color);
}

.item-table .table-actions .reset-password {
  position: relative;
}

.item-table .table-actions .reset-password .outer {
  position: absolute;
  top: 1.9em;
  left: 1.9em;
  font-size: calc(var(--normal-font-size) - 0.4rem);
}

.btn-border {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 1.5em;
  text-align: center;
  color: var(--primary-color);
  font-size: var(--normal-font-size);
  font-weight: var(--bold);
  padding: 0.5em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6em;
  background-color: transparent;
  cursor: pointer;
}

.btn-border:hover {
  background: var(--primary-color);
  color: var(--primary-color-accent);
}

.btn-icon {
  margin: 0.3em 0.5em;
  -webkit-box-shadow: 0em 0em 0.4em 0em var(--shadow-color);
          box-shadow: 0em 0em 0.4em 0em var(--shadow-color);
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-color);
}

.btn-icon:hover {
  background: var(--primary-color);
  color: var(--primary-color-accent);
}

tbody tr {
  cursor: pointer;
}

.load-more {
  cursor: pointer;
}

.load-more:hover {
  font-weight: var(--bold);
}

.body-modal {
  overflow: hidden;
}

.head-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1em;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
}

.modal-container {
  z-index: 1000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container .concern-detail {
  width: 60%;
}

.modal-container .search-modal {
  width: 70%;
}

.modal-container .management-modal {
  width: 70%;
}

.modal-container .modal-content {
  border-radius: 0.3em;
  position: relative;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 10;
  background: var(--container-background-color);
  max-width: 90%;
  min-width: 30%;
  -webkit-box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
          box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
}

.modal-container .modal-content .modal-content-header {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0em 0.1em 0.1em 0em var(--shadow-color);
          box-shadow: 0em 0.1em 0.1em 0em var(--shadow-color);
}

.modal-container .modal-content .modal-content-header .header-text {
  font-size: var(--header-font-size);
  text-transform: capitalize;
  font-weight: var(--demibold);
  color: var(--color);
  margin-right: 1em;
}

.modal-container .modal-content .modal-content-header .close-icon {
  cursor: pointer;
  color: var(--color);
  height: 1.5em !important;
  width: 1.5em !important;
}

.modal-container .modal-content .user-management-modal-body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-container .modal-content .user-management-modal-body div .btn {
  min-width: 7em;
}

.modal-container .modal-content .user-management-modal-body .table-container {
  max-height: 30vh !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-container .modal-content .modal-content-body {
  padding: 1em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 70vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-wrap: break-word;
}

.modal-container .modal-content .modal-content-body .modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-container .modal-content .modal-content-body .modal-form .custom-input {
  width: 50%;
}

.modal-container .modal-content .modal-content-body .full-width .custom-input {
  width: 100% !important;
}

.modal-container .modal-content .modal-content-body .message-body {
  text-align: center;
  padding: 2em;
  min-width: 20em;
  min-height: 5em;
  max-width: 70em;
  max-height: 40em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-container .modal-content .modal-content-body .search-modal-body {
  height: 65vh;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-container .modal-content .modal-content-body .display-voter-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 70vh;
}

.modal-container .modal-content .modal-content-body .full-modal-body {
  position: relative;
}

.modal-container .modal-content .modal-content-body .full-modal-body .voters-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 70vh;
}

.modal-container .modal-content .modal-footer {
  -webkit-box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
          box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.modal-container .modal-content .modal-footer .btn-modal {
  font-size: var(--normal-font-size);
  border-radius: 0.3em;
  padding: 0.6em 2em;
  cursor: pointer;
  margin: 0 0.3em;
}

.modal-container .modal-content .modal-footer .btn-primary {
  background: var(--primary-color);
  color: var(--primary-color-accent);
  border: none;
  cursor: pointer;
}

.modal-container .modal-content .modal-footer .btn-primary:hover {
  font-weight: var(--demibold);
}

.modal-container .modal-content .modal-footer .btn-primary:focus {
  outline: none;
  font-weight: var(--demibold);
}

.modal-container .modal-content .modal-footer .btn-secondary {
  background: var(--secondary-color);
  color: var(--secondary-color-accent);
  border: none;
  cursor: pointer;
}

.modal-container .modal-content .modal-footer .btn-secondary:hover {
  font-weight: var(--demibold);
}

.modal-container .modal-content .modal-footer .btn-secondary:focus {
  outline: none;
  font-weight: var(--demibold);
}

.modal-container .modal-blocker {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: var(--blocker-color);
  opacity: 0.9;
  z-index: 8;
}

.concern-management div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.concern-management div:first-child div {
  width: 100%;
}

.tab-container {
  padding: 0 !important;
}

.tab-container .tab-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--normal-font-size);
  font-weight: var(--bold);
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
}

.tab-container .tab-headers div {
  padding: 1em;
  width: 20em;
  text-align: center;
  cursor: pointer;
}

.tab-container .tab-headers div:hover {
  color: var(--primary-color-accent);
  background: var(--primary-color-menu-hover);
}

.tab-container .selected {
  font-weight: var(--bold);
  color: var(--primary-color-accent);
  background: var(--primary-color);
  pointer-events: none;
}

.tab-container .tab-contents .tab-content {
  display: none;
}

.tab-container .tab-contents .selected-content {
  display: block;
}

.voter-count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.voter-count-container .voter-count {
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0em 0em 0.3em 0em var(--primary-color);
          box-shadow: 0em 0em 0.3em 0em var(--primary-color);
}

thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0.5em;
}

.action-with-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action-with-name .care-of-display {
  font-size: var(--normal-font-size);
  width: 5em;
}

.report-table .selected {
  background: var(--primary-color-selected) !important;
}

.report-content {
  height: calc(100vh - 18em);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.report-content-small-header {
  height: calc(100vh - 14.5em);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.report-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0 0.5em;
  height: 3em;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.check .check-label {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.left-content {
  text-align: left !important;
}

.left-content .check {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.center-content {
  text-align: center !important;
}

.check-label {
  margin-left: 0.3em !important;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.check-container {
  z-index: 0;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: var(--normal-font-size);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 15px;
  width: 15px;
  border: 1px solid var(--primary-color-selected);
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.check-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
}

.check-container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid var(--primary-color-accent);
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.toaster-main-container {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 9999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toaster-main-container .toaster-container {
  position: relative;
  cursor: pointer;
  background-color: var(--toaster-background-color);
  -webkit-box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
          box-shadow: 0em 0em 0.2em 0em var(--shadow-color);
  width: 20em;
  border-radius: 0.3em;
  color: var(--toaster-background-color-accent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toaster-main-container .toaster-container:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.toaster-main-container .toaster-container .title {
  font-weight: var(--regular);
  padding: 0.5em 1em;
}

.toaster-main-container .toaster-container .progress {
  height: 0.1em;
  background-color: var(--primary-color);
}

.toaster-main-container .toaster-container .progress:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0.1em;
  opacity: 0.5;
  background-color: var(--background-color);
}

.toaster-main-container .toaster-container .content {
  padding: 0.5em 1em;
  word-wrap: break-word;
  max-height: 20em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1200px) {
  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .filter-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .head-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .login-container {
    width: 100%;
    margin: 0;
  }
  .menu-item-container {
    width: 100% !important;
  }
  .menu-content-blocker {
    width: 0 !important;
  }
}

@media screen and (max-width: 364px) {
  .desktop-profile {
    display: none !important;
  }
  .mobile-profile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    margin: 0em 1em;
  }
  .mobile-profile .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-profile .name .nav-menu {
    margin: 0em;
    font-size: var(--menu-header-font-size);
    font-weight: var(--demibold);
  }
  .mobile-profile .name .nav-menu .name-icon {
    margin-left: 1em;
  }
  .mobile-profile .logout {
    margin: 0.5em 0em;
    padding: 0em;
  }
}
/*# sourceMappingURL=style.css.map */